h1{
    font-size: 50px;
    font-family: fantasy;
    color: black;
    text-align: center;
    text-decoration: underline;
}
body{
    background-color: black;
    background-image: linear-gradient(to right, purple, lightpink, gold);
    background-image: radial-gradient( yellow, orange, red);
}
div{
    text-align: center;
}
p{
    text-align:justify;
}