h1 {
    font-size: 50px;
    font-family: fantasy;
    color: black;
    text-align: center;
    text-decoration: underline;
}

body {
    /* background-color: black; */
    background: linear-gradient(to right, purple, lightpink, gold);
    background: radial-gradient(yellow, orange, red);
    background-size: 100%;
    background-size: cover;
}

div {
    text-align: center;
}
 #madlib input{
    margin: auto;
 }
form {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

button {
    margin: 1.5rem;
}

